<div class="nav-bar2">
    
    <img class="zumer" src="https://zoommer.ge/icons/main-logo.svg" alt="">
  
  <div class="div">
     <img src="https://zoommer.ge/icons/dots.svg" alt="">
     НАВИГАЦИЯ
  </div>

  <div class="search">
    <img src="https://zoommer.ge/icons/main-search.svg" alt="">
    <input type="text">
  </div>

  <div class="korzina">
    <div class="korzina1">
    <img src="https://zoommer.ge/icons/header-cart.svg" alt="">
    Корзина
  </div>
  </div>
  
  <div class="man">
    <div class="man1">
      <img src="https://zoommer.ge/icons/user-icon.svg" alt="">Войти
    </div>
  </div>
  
  <div class="flag">
    <div class="flag1"(click)="clickgeo()" class="man1">
      <img src="https://zoommer.ge/icons/footer/ru.png" alt="">
    </div>
  </div>
</div>


