<div class="menu">
  <div class="menu1">
    <ul nz-menu [nzMode]="'vertical'">
      <li nz-submenu nzTitle="Телефоны" nzIcon="mobile">
        <ul>
              <li nz-menu-item>iphone</li>
              <li nz-menu-item>Option 2</li>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li> 
        </ul>
      </li>
      <li nz-submenu (nzOpenChange)="change($event)" nzTitle="Планжеты" nzIcon="tablet">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="it | Ноутбуки" nzIcon="laptop">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Смарт - Гаджеты" nzIcon="smart gadjet">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Аудио система" nzIcon="audio">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Gaiming" nzIcon="playstation">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="ТВ | монитор" nzIcon="tv">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Фото | Видео" nzIcon="amera">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="menu2">
    <a href="">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2F9ad2f466-06d1-4487-8dc1-5ef9db943283_Thumb.jpeg&w=1920&q=75" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://zoommer.ge/mobiluri-telefonebi/Xiaomi-Poco-F6-5G-8-256GB-Black-p42240" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://zoommer.ge/_next/image?url=https%3A%2F%2Fs3.zoommer.ge%2Fsite%2Fd8230fd0-cd10-4021-a8e5-c4324f474852_Thumb.jpeg&w=1920&q=75" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</a>
</div>
</div>


  
      


  
 
 


      
 
   
   
       
    



